.header {
  @include flex-center-ver;
  justify-content: space-between;
  padding-block: 12px;

  &-group {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    @include laptop {
      display: none;
    }
  }
  &-item {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 15%;
    font-size: $font-size-medium;
    line-height: $leading-6;
    padding: 8px 20px;
    color: #fff !important;
    background-color: #bb0000;
    text-transform: uppercase;
    font-weight: $font-weight-Extrabold;

    @include laptop {
      width: 16%;
      font-size: $font-size-base;
      padding: 10px;
    }

    @include table {
      width: 31%;
    }
  }
  &-icon {
    display: flex;
    align-items: center;
    justify-self: start;
    border-bottom: 1px solid #e9e9e9;
  }
  &-input {
    max-width: 270px;
    width: 100%;
    padding: 8px 0px 8px 12px;
    border: none;
    outline: none;
  }
  &-input::placeholder {
    font-family: $font-family-secound;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    color: #ccc;
  }
  &-action {
    @include flex-center-ver;
    gap: 38px;
  }
  &-box {
    @include flex-center-ver;
    gap: 38px;
  }
}

.nav {
  @include flex-center-ver;
  font-family: $font-family-base;
  gap: 32px;

  &-link {
    position: relative;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: $leading-6;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000 !important;
    cursor: pointer;
    &::before {
      position: absolute;
      content: "";
      bottom: -3px;
      height: 1.5px;
      width: 0;
      transition: width 0.4s cubic-bezier(0.45, 0.05, 0.5, 0.1);
      border-bottom: 2px solid currentColor;
      background-color: #000;
    }
  }
  &-link:hover::before {
    transform: scale(1);
    width: 100%;
  }
}
.margin-right {
  margin-right: 84px;
}

.welcome {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #6e6e6e;
}

.logout {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #6e6e6e;
  text-decoration: underline;
}
