.order {
  &-wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    @include laptop {
      flex-direction: column;
    }
    gap: 68px;
  }
  &-left {
    width: 60%;
    @include laptop {
      width: 100%;
    }
  }
  &-right {
    width: 40%;
    @include laptop {
      width: 100%;
    }
  }
}
.oder {
  &-title {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
  &-form {
  }
  &-form-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &-form-box {
    margin-top: 24px;
    padding: 32px 44px;
    border: 1px solid #c9c9c9;
  }
}
.form {
  &-submit {
    margin-top: 30px;
    cursor: pointer;
    line-height: 1;
    text-align: center;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    background-color: #070b21;
    border-radius: 2px;
    color: #fff;
    width: 100%;
    height: 50px;
    padding: 12px 16px;
    transition: background-color 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    @include laptop {
      max-width: 100%;
    }
  }
}

.order {
  &-right {
  }
}
.oder {
  &-items {
    @include flex-center-ver;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 40px;

    > span:first-child {
      font-size: 16px;
      line-height: 24px;
      color: #6e6e6e;
    }
    > span:last-child {
      color: #000;
      font-size: 16px;
      line-height: 24px;
    }
  }
  &-total {
    @include flex-center-ver;
    justify-content: space-between;
    padding: 32px 0px;
    border-bottom: 1.5px solid #000;
    border-top: 1.5px solid #000;
    color: #000;
    font-size: 20px;
    line-height: 28px;
    font-family: Helvetica-Now-Text-Bold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
  }
  &-cart-head {
    @include flex-center-ver;
    justify-content: space-between;
    margin-bottom: 20px;
    & > p {
      color: #000;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
    }
    & > a {
      color: #000;
      font-size: 12px;
      line-height: 16px;
      font-weight: 700;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-cart-number {
    font-size: 14px;
    line-height: 20px;
    color: #6e6e6e;
    padding-top: 4px;
    margin-bottom: 24px;
  }
  &-cart-items {
    display: flex;
    align-items: start;
    gap: 32px;
  }
  &-cart-img {
    width: 120px;
    height: 120px;
  }
  &-cart-desc {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    width: 100%;
    @include laptop {
      width: fit-content;
    }
    display: block;
    & > p {
      margin-bottom: 6px;
    }
  }
  &-cart-lists {
    @include flex-col;
    gap: 20px;
  }
  &-cart-size {
    @include flex-center-ver;
    gap: 20px;
  }
  &-cart-subTotal {
    @include flex-center-ver;
    gap: 20px;
    & > span {
      color: #000;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
    }
  }
}
/* MyOrder.scss */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  & > svg {
    cursor: pointer;
  }
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.my-order {
  & > h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    color: #000;
  }
  & > a {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    background-color: #070b21;
    border: 0;
    border-radius: 2px;
    color: #fff;
    padding: 12px 32px;
    margin-top: 10px;
    transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:hover {
      opacity: 0.9;
    }
  }
}
