// Screeen
$sm: 599.98px;
$md: 767.98px;
$lg: 1023.98px;

// Font weight
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-Extrabold: 800;
$font-weight-black: 900;

// Font size
$font-size-small: 10px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-xLarge: 20px;
$font-size-2xl: 24px;
$font-size-3xl: 32px;
$font-size-4xl: 36px;
$font-size-5xl: 40px;

// Border radius
$rounded-sm: 2px;
$rounded-md: 6px;
$rounded-lg: 8px;
$rounded-xl: 12px;
$rounded-2xl: 16px;
$rounded-3xl: 18px;
$rounded-50: 50%;
// leading
$leading-6: 24px;

$font-family-base: "Inter", Helvetica, Arial, sans-serif;
$font-family-secound: "Inter", Helvetica, Arial, sans-serif;
